<h4>Справка</h4> <a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=8245" target="_blank">Тема на форуме</a>
    <div style="width:98%">
		<strong>
		<p><u>ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ</u></p>
		<p>Разработчик модуля никак не связан с изготовителем замков TTLock и не несет ответственности за ненадлежащее использование данного модуля, равно как и не несет ответственности за возможность несанкционированного доступа к закрытым на данные замки помещениям посредством данного модуля и весь возможный ущерб, нанесённый из-за этого. Данный модуль используется вами на свой страх и риск!</p>
		<p>Ещё раз: ЕСЛИ ЗЛОУМЫШЛЕННИК ПОЛУЧИТ ДОСТУП К ВАШЕЙ СИСТЕМЕ, ТО ОН СМОЖЕТ В ЛЮБОЕ ВРЕМЯ ПОЛУЧИТЬ ДОСТУП К УПРАВЛЕНИЕЮ ВАШИМ ЗАМКОМ!!!</p>
		</strong>
        <p>Модуль предназначен для взаимодействия с умными замками, управляемыми через приложение <strong>TTLock</strong> посредством  <a href="https://euopen.ttlock.com/document/doc?urlName=userGuide%2FekeyEn.html" target="_blank">официального API</a>.</p>
        <p><strong>Возможности модуля:</strong></p>
        <ul>
        <li>Получение событий на замке через вебхук;</li>
        <li>Открытие/закрытие замка.</li>
		<li>Предположительный статус замка.</li>
        </ul>
        <p>Для подключения устройств, вам необходимо:
		<ol>
		<li>Перейти на сайт <a href="https://euopen.ttlock.com/" target="_blank">https://euopen.ttlock.com/</a> и зарегистрировть учётную запись;</li>
        <li>Создать новое приложение, указав его название и загрузив иконку, тип любой, описание любое (название в дальнейшем можно будет поменять, остальное - нет);</li>
        <li>Дождаться утверждения вашего приложения. После утверждения появятся необходимые нам <strong>client_id</strong> и <strong>client_secret</strong>, которые мы и вводим в настройки модуля;</li>
		<li>Далее вводим имя пользователя (или номер телефона) и пароль от приложения TTLock и нажимаем "Обновить".</li>
        </ol>
		<p>После ввода правильных данных в модуле появятся все устройства, подключенные к вашей учетной записи приложения TTLock.</p>
		<p>Модуль использует вебхук, на который сервером TTLok отсылаются события. Для обноыления информации по событиям, вам необходимо <strong>открыть</strong> доступ извне к файлу webhook_ttlock.php и прописать в учетной записи на https://euopen.ttlock.com/ Callback URL в виде <strong>http://yourmdmsite.ru/webhook_ttlock.php</strong></p>
		<p>Для этого необходим белый IP адрес или облачный доступ, <strong>типа CrazeDNS/KeenDNS</strong>.</p>
		<strong>
		<p>Если вы не имеете понятия что это и как это делается, я настоятельно не рекомендую этим заниматься (см. ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ)</p>
		</strong>
		<p>В дальнейшем значения и команды можно привязать к <strong>созданным вами самостоятельно</strong> свойствам или методам, для обработки полученной информации или отправки команд.</p>
		<p>Команда управления замком принимает на вход, соответственно 1/0 (закрыть/открыть).</p>
		<p>Так как замок не отправляет событие автозакрытия, модуль логически рассчитывает состояние замка, опираясь на время автозакрытия и расписание свободного прохода. Запрос и обновление этих параметров запрашивается раз в сутки для экономии заряда батерей замка.</p>
		
	 </div>
<div>
   <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_STRING_BACK#></a>
</div>